{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ 'Welcome' | trans }}</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Admin/PhpstormProjects/cms-vt-i18n-l10n/src/Controller/ProductController.php'|file_link(0) }}">src/Controller/ProductController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Admin/PhpstormProjects/cms-vt-i18n-l10n/templates/product/index.html.twig'|file_link(0) }}">templates/product/index.html.twig</a></code></li>
    </ul>

    <h2>Here is a localized Number</h2>
    <p>{{ 1234567890 | format_number }}</p>

    {% set currency = 1234.56 %}

    <h2>Here is a localized Money amount</h2>
    <p>{{ currency | format_currency('EUR') }}</p>

    See this page in:
    <ul>
        <li><a href="{{ path('app_product', {'_locale': 'en'}) }}">English</a></li>
        <li><a href="{{ path('app_product', {'_locale': 'fr'}) }}">French</a></li>
    </ul>
</div>
{% endblock %}
